<div class="container">
	<div class="row">
		<h1>{{user.username}}</h1>

		<p>
			<strong>These should match the Shadow Era account you are currently competing with.</strong>
			<br />
			Click the edit icons to change your email or in-game name.</p>
		</p>
		<div ng-show="!emailEditing">
			<p>
				<strong>Email:</strong>
				<span>
					{{user.email}}
					<a ng-click="edit('email')">
						<i class="icon-edit"></i>
					</a>
				</span>
			</p>
		</div>

		<div ng-show="emailEditing">
			<p>
				<form class="form-inline">
					<strong>Email:</strong>
					<input type="email" class="input" placeholder="Email" ng-model="emailEdited" />

					<button type="submit" class="btn" ng-click="save('email')">Save</button>
					<button ng-click="close('email')" class="btn">Cancel</button>
				</form>
			</p>
		</div>

		<div ng-show="!inGameNameEditing">
			<p>
				<strong>In-Game Name:</strong>
				<span>
					{{user.inGameName}}
					<a ng-click="edit('inGameName')">
						<i class="icon-edit"></i>
					</a>
				</span>
			</p>
		</div>

		<div ng-show="inGameNameEditing">
			<p>
				<form class="form-inline">
					<strong>In-Game Name:</strong>
					<input type="text" class="input" placeholder="In-Game Name" ng-model="inGameNameEdited" />

					<button type="submit" class="btn" ng-click="save('inGameName')">Save</button>
					<button ng-click="close('inGameName')" class="btn">Cancel</button>
				</form>
			</p>
		</div>

		<p>
			<a ng-click="edit('password')" ng-show="!passwordEditing">Change Password</a>
		</p>
		<div ng-show="passwordEditing">
			<p>
				<form class="form-inline">
					<strong>Password:</strong>
					<input type="password" class="input" placeholder="Password" ng-model="passwordEdited" />

					<button type="submit" class="btn" ng-click="save('password')">Save</button>
					<button ng-click="close('password')" class="btn">Cancel</button>

				</form>
			</p>
		</div>

		<hr />

		<h2>Stats</h2>
		<p>
			<strong>Rating:</strong>
			{{user.rating}}
		</p>
		<p>
			<strong>Tournament Wins:</strong>
			{{user.tournamentWins}}
		</p>
		<p>
			<strong>Game Wins:</strong>
			{{user.games.wins}}
		</p>
		<p>
			<strong>Game Losses:</strong>
			{{user.games.losses}}
		</p>
		<p>
			<strong>Earnings:</strong>
			<i class="shadow-crystals">SC</i>{{user.earnings}}
		</p>

		<hr />

		<h2>Tournaments</h2>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Date</th>
					<th>Bracket</th>
					<th>Placing</th>
					<th>Payout</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="tournament in user.tournaments">
					<td>{{tournament.startTime}}</td>
					<td>
						<a href="/tournaments/results/{{tournament.id}}">{{tournament.name}}</a>
					</td>
					<td>{{tournament.placing}}</td>
					<td>
						<i class="shadow-crystals">SC</i>
						{{tournament.payout}}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>