<div class="modal-header">
  <h1>Drop from tournament</h1>
</div>
<div class="modal-body">
  <div class="alert alert-error">
    <div class="large-alert">
      <i class="icon-exclamation-sign pull-left"></i>
      <p>Are you sure you want to drop from the tournament?  Any matches you are currently playing will be conceded and you will not be eligable to recieve any prizes.
      </p>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button ng-click="close('drop')" class="btn btn-danger">Drop Me From the Tournament</button>
  <button ng-click="close()" class="btn btn-primary">Cancel</button>
</div>