<div class="container">
	<!-- Main hero unit for a primary marketing message or call to action -->
	<div class="hero-unit row">
		<h1>Shadow Organizer</h1>
		<br />
		<p>
			Unofficial Shadow Era Tournament Organizer.
		</p>
		<p>
			This is just a design for now, built on a node.js backend.  Features to come.
		</p>
		<p>
			Follow the progress on <a href="https://github.com/Tidwell/shadoworganizer"><i class="icon-github"></i> Github</a>
		</p>
		<p>
			<a href="/register" class="btn btn-primary btn-large" ng-show="!user.authed">Compete for Free! &raquo;</a>
		</p>
	</div>

	<h2>Active Tournaments</h2>

	<!-- Example row of columns -->
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Bracket</th>
				<th>Rules</th>
				<th>Payout</th>
				<th>Start Time</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="t in tournaments.tournaments" ng-class="{success: tournament.active && tournament.tournament._id == t._id}">
				<td>{{t.name}}</td>
				<td>{{t.rules | implode}}</td>
				<td>
					<i class="shadow-crystals">SC</i>{{t.payout.1}} / <i class="shadow-crystals">SC</i>{{t.payout.2}}
				</td>
				<td>
					<div ng-show="!t.started">
						<span>Not Started</span>
						<span class="badge badge pull-right" game-players-class="t.players">
							{{t.players}} / 8
						</span>
					</div>
					<div ng-show="t.started">
						{{t.startTime}}
					</div>
				</td>
				<td ng-show="!t.started">
					<div ng-show="!tournament.active">
						Not Registered <button ng-click="joinTournament(t._id)" class="pull-right btn btn-small btn-success" ng-show="user.authed && !tournament.active"><i class="icon-plus"></i> Join</button>
					</div>
					<div ng-show="tournament.active && tournament.tournament._id && t._id == tournament.tournament._id && user.authed && !t.started">

						Registered <button ng-click="leaveTournament(t._id)" class="pull-right btn btn-small btn-danger"><i class="icon-minus"></i> Leave</button>
					</div>
				</td>
				<td ng-show="t.started">
					Playing
				</td>
				<td ng-show="t.ended">
					Finshed
				</td>
			</tr>
		</tbody>
	</table>
</div>