<div class="container">
	<!-- Main hero unit for a primary marketing message or call to action -->
	<div class="hero-unit row">
		<h1>Shadow Organizer</h1>
		<br />
		<p>
			Unofficial Shadow Era Tournament Organizer.
		</p>
		<p>
			This is just a design for now, built on a node.js backend.  Features to come.
		</p>
		<p>
			Follow the progress on <a href="https://github.com/Tidwell/shadoworganizer"><i class="icon-github"></i> Github</a>
		</p>
		<p>
			<a href="/register" class="btn btn-primary btn-large">Compete for Free! &raquo;</a>
		</p>
	</div>

	<h2>Recent Tournaments</h2>

	<!-- Example row of columns -->
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Bracket</th>
				<th>Rules</th>
				<th>Payout</th>
				<th>Start Time</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="tournament in tournaments.tournaments" ng-class="{success: tournament.userEntered}">
				<td>{{tournament.name}}</td>
				<td>{{tournament.rules | implode}}</td>
				<td>
					<i class="shadow-crystals">SC</i> {{tournament.payout.1}} / <i class="shadow-crystals">SC</i> {{tournament.payout.2}}
				</td>
				<td>
					<div ng-show="!tournament.started">
						<span>Not Started</span>
						<span class="badge badge pull-right" ng-class="{
							'btn-info': tournament.players>4 && tournament.players < 7,
							'btn-success': tournament.players>=7
						}">
							{{tournament.players}} / 8
						</span>
					</div>
					<div ng-show="tournament.started">
						{{tournament.startTime}}
					</div>
				</td>


				<td ng-show="!tournament.started">
					<div ng-show="!tournament.userEntered">
						Not Registered <button class="pull-right btn btn-small btn-success"><i class="icon-plus"></i> Join</button>
					</div>
					<div ng-show="tournament.userEntered">
						Registered <button class="pull-right btn btn-small btn-danger"><i class="icon-minus"></i> Leave</button>
					</div>
				</td>
				<td ng-show="tournament.started">
					Playing
				</td>
				<td ng-show="tournament.ended">
					Finshed
				</td>
			</tr>
		</tbody>
	</table>
</div>